*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    color: white;
}

body{
    background-image: url('https://wallpaperaccess.com/full/1382564.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

#square{
    position: fixed;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

#food{
    position: fixed;
    width: 100px;
    height: 100px;
}

#score{
    top: 30px;
}

img{
    height: 100%;
}

#food > img{
    height: 75%;
}